In [1]:
a = [1,2,3,4,5]
b = [5,6,7,8,9]

In [2]:
for x,y in zip(a,b):
    print (x, y)

1 5
2 6
3 7
4 8
5 9

In [3]:
for i, x in enumerate(b):
    print(i, x)

0 5
1 6
2 7
3 8
4 9

In [5]:
import os
os.chdir("D:\GreyAtom\Datasets\game-of-thrones")

In [6]:
ls

 Volume in drive D is DATA
 Volume Serial Number is 347B-C42C

 Directory of D:\GreyAtom\Datasets\game-of-thrones

14-07-2018  09:38    <DIR>          .
14-07-2018  09:38    <DIR>          ..
14-07-2018  09:38             8,550 battles.csv
14-07-2018  09:38            38,873 character-deaths.csv
14-07-2018  09:38           215,546 character-predictions.csv
               3 File(s)        262,969 bytes
               2 Dir(s)  500,060,024,832 bytes free

In [8]:
import pandas as pd
df = pd.read_csv("character-deaths.csv")
df.head()

,Name,Allegiances,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
0,Addam Marbrand,Lannister,NaN,NaN,NaN,56.0,1,1,1,1,1,1,0
1,Aegon Frey (Jinglebell),None,299.0,3.0,51.0,49.0,1,1,0,0,1,0,0
2,Aegon Targaryen,House Targaryen,NaN,NaN,NaN,5.0,1,1,0,0,0,0,1
3,Adrack Humble,House Greyjoy,300.0,5.0,20.0,20.0,1,1,0,0,0,0,1
4,Aemon Costayne,Lannister,NaN,NaN,NaN,NaN,1,1,0,0,1,0,0

In [12]:
character_death_year = df["Death Year"]
character_death_year

0        NaN
1      299.0
2        NaN
3      300.0
4        NaN
5        NaN
6      300.0
7      300.0
8        NaN
9        NaN
10     299.0
11       NaN
12     300.0
13       NaN
14       NaN
15       NaN
16     299.0
17       NaN
18       NaN
19     300.0
20       NaN
21       NaN
22     299.0
23       NaN
24     298.0
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
       ...
887      NaN
888    300.0
889      NaN
890    299.0
891      NaN
892      NaN
893    298.0
894    299.0
895      NaN
896      NaN
897      NaN
898      NaN
899      NaN
900      NaN
901      NaN
902      NaN
903    300.0
904      NaN
905    299.0
906      NaN
907      NaN
908    299.0
909    299.0
910      NaN
911      NaN
912      NaN
913    300.0
914    300.0
915    300.0
916    300.0
Name: Death Year, Length: 917, dtype: float64

In [13]:
    df.describe()

,Death Year,Book of Death,Death Chapter,Book Intro Chapter,Gender,Nobility,GoT,CoK,SoS,FfC,DwD
count,305.000000,307.000000,299.000000,905.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000
mean,299.157377,2.928339,40.070234,28.861878,0.828790,0.468920,0.272628,0.353326,0.424209,0.272628,0.284624
std,0.703483,1.326482,20.470270,20.165788,0.376898,0.499305,0.445554,0.478264,0.494492,0.445554,0.451481
min,297.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,299.000000,2.000000,25.500000,11.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,299.000000,3.000000,39.000000,27.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,300.000000,4.000000,57.000000,43.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,300.000000,5.000000,80.000000,80.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
df.shape

(917, 13)

In [17]:
people_who_died = df.loc[df["Death Year"].notnull(), ["Name", "Allegiances", "Death Year"]]
people_who_died

                                  Name      Allegiances  Death Year
1              Aegon Frey (Jinglebell)             None       299.0
3                        Adrack Humble    House Greyjoy       300.0
6    Aemon Targaryen (son of Maekar I)    Night's Watch       300.0
7                           Aenys Frey             None       300.0
10                               Aggar    House Greyjoy       299.0
12                       Alan of Rosby    Night's Watch       300.0
16                            Alebelly      House Stark       299.0
19                     Alester Florent        Baratheon       300.0
22                     Allard Seaworth        Baratheon       299.0
24                                Alyn      House Stark       298.0
32                         Amory Lorch  House Lannister       299.0
39                           Anvil Ryn             None       299.0
47                       Aron Santagar        Lannister       299.0
56                       Arys Oakheart        Lannister       300.0
63                              Bannen    Night's Watch       299.0
65                               Barra             None       299.0
67                             Barsena             None       300.0
73                     Becca the Baker             None       299.0
84                    Benfred Tallhart            Stark       299.0
85                        Benfrey Frey             None       299.0
86                        Benjen Stark    Night's Watch       298.0
87                              Bennet             None       300.0
88                    Beric Dondarrion             None       300.0
94                               Biter             None       300.0
111                      Brown Bernarr    Night's Watch       299.0
113                     Bryan Fossoway        Baratheon       299.0
114                        Bryce Caron        Baratheon       299.0
116                      Bryen Farring        Baratheon       300.0
119                   Burton Crakehall        Lannister       299.0
121                         Byam Flint    Night's Watch       299.0
..                                 ...              ...         ...
840                        Ulf the Ill    House Greyjoy       299.0
846                              Urreg    Night's Watch       299.0
849                                Utt             None       299.0
851                            Varamyr         Wildling       300.0
852                        Vardis Egen            Arryn       298.0
853                         Vargo Hoat             None       300.0
855                        Vayon Poole            Stark       298.0
857                  Viserys Targaryen  House Targaryen       298.0
864                             Wallen         Wildling       298.0
868                               Watt    Night's Watch       299.0
870                       Waymar Royce    Night's Watch       297.0
874                              Weese        Lannister       299.0
875                    Wendel Manderly            Stark       299.0
877                             Werlag    House Greyjoy       299.0
880                            Wilbert            Stark       298.0
881                               Will    Night's Watch       297.0
883                       Willam Wells          Martell       300.0
884                   Willem Lannister  House Lannister       299.0
888                   Willow Witch-eye         Wildling       300.0
890                               Woth    Night's Watch       299.0
893                        Wyl (guard)      House Stark       298.0
894                   Wyl the Whittler             None       299.0
903                        Yellow Dick             None       300.0
905                            Ygritte         Wildling       299.0
908                              Yoren    Night's Watch       299.0
909                        Young Henly    Night's Watch       299.0
913                  Yurkhaz zo Yunzak             None       300.0
914                   Yezzan Zo Qaggaz             None       300.0
915                   Torwynd the Tame         Wildling       300.0
916                      Talbert Serry           Tyrell       300.0

[305 rows x 3 columns]

In [21]:
woman_who_died = df.loc[(df["Death Year"].notnull()) & (df["Gender"]==0) , ["Name", "Allegiances", "Death Year", "Gender"]]
woman_who_died

                  Name      Allegiances  Death Year  Gender
7           Aenys Frey             None       300.0       0
65               Barra             None       299.0       0
67             Barsena             None       300.0       0
73     Becca the Baker             None       299.0       0
126      Catelyn Tully      House Stark       299.0       0
160      Dacey Mormont            Stark       299.0       0
167              Dalla         Wildling       300.0       0
193   Donella Hornwood            Stark       299.0       0
203             Doreah  House Targaryen       299.0       0
248  Falyse Stokeworth        Lannister       300.0       0
257             Frenya         Wildling       300.0       0
324               Hali         Wildling       298.0       0
331              Harma         Wildling       300.0       0
334              Harra             None       299.0       0
338             Hazzea             None       300.0       0
354              Holly         Wildling       300.0       0
377    Jacelyn Bywater        Lannister       299.0       0
447               Kyra      House Stark       300.0       0
495         Lysa Tully      House Arryn       300.0       0
500  Maerie (Goodwife)             None       299.0       0
501     Maerie (Whore)             None       299.0       0
523       Masha Heddle            Tully       298.0       0
551     Mirri Maz Duur             None       299.0       0
560            Mordane      House Stark       298.0       0
586             Myrtle         Wildling       300.0       0
592              Nolla             None       299.0       0
678              Randa             None       299.0       0
750            Senelle  House Lannister       300.0       0
753               Shae        Lannister       300.0       0
759        Shyra Errol        Baratheon       300.0       0
770           Squirrel         Wildling       300.0       0
792   Tanda Stokeworth        Lannister       300.0       0
801            Thistle         Wildling       300.0       0
811          Tion Frey        Lannister       299.0       0
888   Willow Witch-eye         Wildling       300.0       0
905            Ygritte         Wildling       299.0       0

In [22]:
man_who_died = df.loc[(df["Death Year"].notnull()) & (df["Gender"]==1) , ["Name", "Allegiances", "Death Year", "Gender"]]
man_who_died

                                  Name      Allegiances  Death Year  Gender
1              Aegon Frey (Jinglebell)             None       299.0       1
3                        Adrack Humble    House Greyjoy       300.0       1
6    Aemon Targaryen (son of Maekar I)    Night's Watch       300.0       1
10                               Aggar    House Greyjoy       299.0       1
12                       Alan of Rosby    Night's Watch       300.0       1
16                            Alebelly      House Stark       299.0       1
19                     Alester Florent        Baratheon       300.0       1
22                     Allard Seaworth        Baratheon       299.0       1
24                                Alyn      House Stark       298.0       1
32                         Amory Lorch  House Lannister       299.0       1
39                           Anvil Ryn             None       299.0       1
47                       Aron Santagar        Lannister       299.0       1
56                       Arys Oakheart        Lannister       300.0       1
63                              Bannen    Night's Watch       299.0       1
84                    Benfred Tallhart            Stark       299.0       1
85                        Benfrey Frey             None       299.0       1
86                        Benjen Stark    Night's Watch       298.0       1
87                              Bennet             None       300.0       1
88                    Beric Dondarrion             None       300.0       1
94                               Biter             None       300.0       1
111                      Brown Bernarr    Night's Watch       299.0       1
113                     Bryan Fossoway        Baratheon       299.0       1
114                        Bryce Caron        Baratheon       299.0       1
116                      Bryen Farring        Baratheon       300.0       1
119                   Burton Crakehall        Lannister       299.0       1
121                         Byam Flint    Night's Watch       299.0       1
127                               Cayn      House Stark       298.0       1
132                             Chayle            Stark       299.0       1
134                              Chett    Night's Watch       299.0       1
135                            Chiggen        Lannister       298.0       1
..                                 ...              ...         ...     ...
838                    Tywin Lannister  House Lannister       300.0       1
839                    Ulf son of Umar        Lannister       298.0       1
840                        Ulf the Ill    House Greyjoy       299.0       1
846                              Urreg    Night's Watch       299.0       1
849                                Utt             None       299.0       1
851                            Varamyr         Wildling       300.0       1
852                        Vardis Egen            Arryn       298.0       1
853                         Vargo Hoat             None       300.0       1
855                        Vayon Poole            Stark       298.0       1
857                  Viserys Targaryen  House Targaryen       298.0       1
864                             Wallen         Wildling       298.0       1
868                               Watt    Night's Watch       299.0       1
870                       Waymar Royce    Night's Watch       297.0       1
874                              Weese        Lannister       299.0       1
875                    Wendel Manderly            Stark       299.0       1
877                             Werlag    House Greyjoy       299.0       1
880                            Wilbert            Stark       298.0       1
881                               Will    Night's Watch       297.0       1
883                       Willam Wells          Martell       300.0       1
884                   Willem Lannister  House Lannister       299.0       1
890                               Woth    Night's Watch       299.0       1
893                        Wyl (guard)      House Stark       298.0       1
894                   Wyl the Whittler             None       299.0       1
903                        Yellow Dick             None       300.0       1
908                              Yoren    Night's Watch       299.0       1
909                        Young Henly    Night's Watch       299.0       1
913                  Yurkhaz zo Yunzak             None       300.0       1
914                   Yezzan Zo Qaggaz             None       300.0       1
915                   Torwynd the Tame         Wildling       300.0       1
916                      Talbert Serry           Tyrell       300.0       1

[269 rows x 4 columns]

In [23]:
os.chdir("D:\GreyAtom\Datasets")

In [24]:
ls

 Volume in drive D is DATA
 Volume Serial Number is 347B-C42C

 Directory of D:\GreyAtom\Datasets

15-07-2018  12:27    <DIR>          .
15-07-2018  12:27    <DIR>          ..
15-07-2018  09:31               187 brics.csv
15-07-2018  09:29               179 cars.csv
14-07-2018  09:38    <DIR>          game-of-thrones
14-07-2018  10:47           257,011 ipl_matches_small.csv
14-07-2018  15:30           385,172 weather_small_2012.csv
               4 File(s)        642,549 bytes
               3 Dir(s)  500,060,016,640 bytes free